<script>
    if (window.matchMedia("(any-hover: hover)").matches) {
      document.write(' ')
       }  else {
           document.write('<hr>')
  document.write('<i><small>It appears that you are using a phone or a small tablet. ') 
  document.write('Since the images in this blog are relatively large and contain a lot of detail, I would suggest')
  document.write(' that you consider returning sometime when you can use a computer with its larger screen.</small></i><br>')
  document.write('<hr>')
   }
  </script>